body {
  margin: 60px 250px auto;
  width: 100%;
  height: 100%;
  font-family: "Source Code Pro", monospace;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  background-repeat: repeat;
  background-position: center;
  background-size: 1000%;
  align-items: center;
}

ul {
  position: relative;
  left: 60%;
  top: 20%;
  padding: 0 auto;
  margin: 0 auto;
  list-style: none;
  color: rgb(184, 172, 83);
}
.container-wrap {
  max-width: 600px;
  border-radius: 25px;
  margin: 60px auto;
  padding: 15px;
  color: rgb(211, 201, 122);
  height: 550px;
  align-items: center;
}
.weather-side {
  position: relative;
  height: 100%;
  border-radius: 25px;
  background-image: url(./images/sunnyday.jpg);
  background-size: 200%;
  width: 550px;
}

.weather-gradient {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  border-radius: 25px;
  opacity: 2px;
}
.date-container {
  display: block;
  margin: 20px;
  padding: 20px;
}
.Day {
  top: 20%;
  right: 20%;
  font-size: 40px;
  color: rgb(211, 201, 122);
}

.Date {
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(211, 201, 122);
}
.Hour {
  margin-top: 0;
  font: bold;
  font-weight: 10px;
  font-size: 25px;
  color: rgb(211, 201, 122);
}

.location {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 0 auto;
  font-size: 35px;
  color: rgb(211, 201, 122);
}

.weather-des {
  font-size: 20px;
  margin: 5px 0 auto;
  padding: 5px 0 auto;
  color: rgb(211, 201, 122);
}
.weather-deg {
  position: relative;
  top: 30px;
  margin: 0;
  font-size: 25px;
  font-weight: 10px;
  color: rgb(218, 207, 132);
}

.city-name {
  position: absolute;
  top: 9%;
  right: -16%;
  transform: translate(-60%, -60%);
  height: 25px;
  padding: 8px;
  margin-top: 8px;
  border-radius: 40px;
  border-style: double;
  color: rgb(211, 201, 122);
}

.temperature {
  position: relative;
  top: 20px;
  margin-top: 10%;
  padding: 10%;
  font-weight: 200px;
  font-size: 80px;
  color: rgb(236, 224, 129);
}

.search-form {
  text-align: left;
  border: none;
  color: rgb(211, 201, 122);
  background: none;
  outline: none;
  padding: 5px 25px 5px 5px;
  margin: 5px 25px 5px 5px;
  font-weight: 17px;
  font-size: 17px;
  transition: 0.4s;
  line-height: 20px;
  width: 100px;
  height: 25%;
}
.search-loop {
  position: absolute;
  color: white;
  top: 7%;
  right: 1.01%;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 45%;
  background: rgb(211, 201, 122);
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-name:hover {
  width: 150px;
  padding: 5px;
  margin: 5px;
  transition: 00.4s;
  background: none;
  color: rgb(211, 201, 122);
  cursor: pointer;
}

.weather-icon {
  color: rgb(236, 224, 129);
}

.weather-deg .active {
  color: rgb(236, 224, 129);
  cursor: default;
}

.weather-deg .active {
  text-decoration: none;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5px;
}
.weather-forecast-temperature-min {
  opacity: 0.5px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.Weather canvas {
  margin: 10px auto;
}
.App footer {
  font-size: 11px;
  margin: 10px 0;
}
