body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: "Source Code Pro", monospace;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  background-repeat: repeat;
  background-position: center;
  background-size: 900%;
  align-items: center;
}

ul {
  position: relative;
  left: 50%;
  padding: 0 auto;
  margin: 0 auto;
  list-style: none;
  color: rgb(102, 102, 102);
}
.container-wrap {
  max-width: 600px;
  border-radius: 25px;
  margin: 60px auto;
  padding: 15px;
  color: rgb(102, 102, 102);
  height: 600px;
  align-items: center;
}
.weather-side {
  position: relative;
  height: 100%;
  border-radius: 25px;
  background-image: url(./images/sunnyday.jpg);
  width: 550px;
}

.weather-gradient {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  border-radius: 25px;
  opacity: 2px;
}
.date-container {
  display: block;
  margin: 20px;
  padding: 20px;
}
.Day {
  top: 20%;
  right: 20%;
  font-size: 40px;
  color: rgb(102, 102, 102);
}

.Date {
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: rgb(102, 102, 102);
}
.Hour {
  margin-top: 0;
  font: bold;
  font-weight: 10px;
  font-size: 18px;
  color: rgb(102, 102, 102);
}

.location {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  color: rgb(102, 102, 102);
}

.weather-des {
  font-size: 20px;
  margin: 0;
  color: rgb(102, 102, 102);
}
.weather-deg {
  position: relative;
  top: -35px;
  margin: 0;
  font-size: 25px;
  font-weight: 10px;
}

.city-name {
  position: absolute;
  top: 9%;
  right: -16%;
  transform: translate(-60%, -60%);
  height: 38px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 40px;
  border-style: double;
  color: white;
}

.weather-temp {
  padding: 0;
  margin: 0;
  font-weight: 250;
  font-size: 80px;
  color: rgb(102, 102, 102);
}

.search-form {
  text-align: left;
  border: none;
  color: rgb(102, 102, 102);
  background: none;
  outline: none;
  padding: 0 auto;
  margin: 0 auto;
  font-weight: 17px;
  font-size: 17px;
  transition: 0.4s;
  line-height: 20px;
  width: 150px;
  height: 30%;
}
.search-loop {
  position: absolute;
  color: white;
  top: 2%;
  right: 1.01%;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 45%;
  background: rgb(102, 102, 102);
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-name:hover {
  width: 150px;
  padding: 5px;
  margin: 5px;
  transition: 00.3s;
  background: none;
  color: rgb(102, 102, 102);
  cursor: pointer;
}
.link-code {
  margin-top: 0;
  font-weight: bold;
  font-size: 15px;
  color: black;
}
.weather-icon {
  color: rgb(102, 102, 102);
}

.weather-deg .active {
  color: rgb(102, 102, 102);
  cursor: default;
}

.weather-deg .active {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: rgb(102, 102, 102);
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5px;
}
.weather-forecast-temperature-min {
  opacity: 0.5px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
