.WeatherForecast {
  text-align: center;
  margin-top: 0 auto;
  margin-bottom: 10px;
  color: rgb(187, 82, 13);
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5px;
}
.weather-forecast-temperature-min {
  opacity: 0.5px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.Weather canvas {
  margin: 10px auto;
}
