.container-wrap {
  max-width: 600px;
  border-radius: 25px;
  margin: 60px auto;
  padding: 15px;
  color: rgb(179, 179, 179);
  height: 600px;
  align-items: center;
}
.weather-side {
  position: relative;
  height: 100%;
  border-radius: 25px;
  background-image: url(https://images.unsplash.com/photo-1550507894-975103845538?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  width: 550px;
}

.weather-gradient {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  border-radius: 25px;
  opacity: 2px;
}
.date-container {
  display: block;
  margin: 20px;
  padding: 20px;
}
.Day {
  top: 20%;
  right: 20%;
  font-size: 40px;
  color: rgb(179, 179, 179);
}

.Date {
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: rgb(179, 179, 179);
}
.Hour {
  margin-top: 0;
  font: bold;
  font-weight: 10px;
  font-size: 18px;
  color: rgb(179, 179, 179);
}

.location {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  color: rgb(179, 179, 179);
}

.weather-des {
  font-size: 20px;
  margin: 0;
  color: rgb(179, 179, 179);
}
.weather-deg {
  position: relative;
  top: -35px;
  margin: 0;
  font-size: 25px;
  font-weight: 10px;
}

.city-name {
  position: absolute;
  top: 9%;
  right: -16%;
  transform: translate(-60%, -60%);
  height: 38px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 40px;
  border-style: double;
  color: white;
}

.weather-temp {
  padding: 0;
  margin: 0;
  font-weight: 250;
  font-size: 80px;
  color: rgb(179, 179, 179);
}

.search-form {
  text-align: left;
  border: none;
  color: rgb(179, 179, 179);
  background: none;
  outline: none;
  padding: 0 auto;
  margin: 0 auto;
  font-weight: 17px;
  font-size: 17px;
  transition: 0.4s;
  line-height: 20px;
  width: 150px;
  height: 50%;
}
.search-loop {
  position: absolute;
  color: white;
  top: 2%;
  right: 1.01%;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 45%;
  background: rgb(179, 179, 179);
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-name:hover {
  width: 150px;
  padding: 5px;
  margin: 5px;
  transition: 00.3s;
  background: none;
  color: rgb(179, 179, 179);
  cursor: pointer;
}
.link-code {
  margin-top: 0;
  font-weight: bold;
  font-size: 15px;
  color: black;
}
.weather-icon {
  color: rgb(179, 179, 179);
}

.weather-deg .active {
  color: rgb(179, 179, 179);
  cursor: default;
}

.weather-deg .active {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: rgb(141, 138, 138);
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5px;
}
.weather-forecast-temperature-min {
  opacity: 0.5px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
